# WARNING: EACH VARIABLE VALUE IN THIS FILE WILL BE EXPOSED TO THE CLIENT

WTF_CSRF_ENABLED=
FALLBACK_LANG=

# Configuration of the services location
BACKEND_URL=
TABLES_URL=
OCR_URL=
PREPROCESS_URL=
IAM_URL=
FILE_STORAGE_URL=
OMR_URL=
COMPARISON_URL=
TEMPLATE_URL=
WORKFLOW_MANAGER_URL=
API_GATEWAY_URL=
OUTPUT_EXPORTING_URL=
IMAGE_PREPROCESS_URL=
DOCUMENT_TYPE_URL=
EXTRACTION_URL=
UNIFIER_URL=
RESULT_EXPORTING_URL=
PROTOTYPE_URL=
NER_URL=
PROMPTER_URL=
BASE_API_URL=
AGENTIC_AI_URL=
ELASTIC_SERVER_URL=
ELASTIC_ENVIRONMENT=
ELASTIC_SERVICE_NAME=
ELASTIC_PROJECT_CODE=

# AUTH_TYPE possible values: oidc, no-auth
AUTH_TYPE=
AUTH_BASE_URL=
AUTH_REALM=
AUTH_CLIENT_ID=
AUTH_SCOPE=

REQUEST_TIMEOUT=
MAX_FILE_SIZE_MB=
MAX_PROTOTYPE_REFERENCE_LAYOUT_SIZE_MB=

GOOGLE_DRIVE_API_KEY=
GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_SERVICE_ACCOUNT_EMAIL=

ONE_DRIVE_CLIENT_ID=
ONE_DRIVE_SERVICE_ACCOUNT_EMAIL=

SUPPORT_EMAIL=
# FEATURE_OIDC_LOG_LEVEL possible values: 4-DEBUG, 3-INFO, 2-WARNING, 1-ERROR 0-NONE
FEATURE_OIDC_LOG_LEVEL=

FEATURE_HIDDEN_ENGINES=
FEATURE_HIDDEN_LLM_PROVIDERS=
# FEATURE_CONFIDENCE_LEVEL_VIEW possible values: asIcons, asNumbers
FEATURE_CONFIDENCE_LEVEL_VIEW=
FEATURE_SERVER_SENT_EVENTS=
FEATURE_DOCUMENT_UPLOAD=
FEATURE_DOCUMENT_DELETE=
FEATURE_DOCUMENT_CHANGE_TYPE=
FEATURE_PDF_VIEWER=
FEATURE_RUN_PIPELINE=
FEATURE_MACHINE_LEARNING_MODELS=
FEATURE_LABELING_TOOL=
FEATURE_DATA_EXTRACTION=
FEATURE_TABLE_DETECTION=
FEATURE_RETRY_PREVIOUS_STEP=
FEATURE_BULK_RETRY_PREVIOUS_STEP=
FEATURE_LIST_EDITING_MODE=
FEATURE_COPY_INVITE=
FEATURE_INVITE_BY_MAIL=
FEATURE_USER_MANAGEMENT=
FEATURE_PAGINATED_TABLES=
FEATURE_CONFIGURABLE_CONFIDENCE_LEVEL=
FEATURE_HIDE_LOW_CONFIDENCE_DUE_TO_VALIDATION_ERRORS=
FEATURE_SHOW_NOT_APPLICABLE_CONFIDENCE=
FEATURE_COLLAPSIBLE_SELECTED_CELLS=
FEATURE_MANAGE_TEMPLATE_VERSIONS=
FEATURE_OUTPUT_PROFILES=
FEATURE_LLM_EXTRACTORS=
FEATURE_PROTOTYPES=
FEATURE_PROTOTYPE_REFERENCE_LAYOUT=
FEATURE_DOCUMENT_LAYOUT_EDITING=
FEATURE_TEMPLATES=
FEATURE_AI_PROMPTED_EXTRACTORS=
FEATURE_TRIAL_VERSION=
FEATURE_UI_SETTINGS=
FEATURE_OCR_INTERSECTION_ALGORITHM=
FEATURE_OCR_INTERSECTION_ALGORITHM_THRESHOLD=
FEATURE_AUTO_LABELING=
FEATURE_DASHBOARD=
FEATURE_DOCUMENT_LAYOUT=
FEATURE_FILL_CANVAS_POLYGONS=
FEATURE_MULTIFILE_SESSION_UPLOAD=
FEATURE_SCALE_TO_POINT=
FEATURE_HIDE_LEGACY=
FEATURE_GEN_AI_CHAT=
FEATURE_AGENTIC_DOCUMENT_PROCESSING=
FEATURE_GEN_AI_KEY_VALUE_FIELDS=
FEATURE_SEQUENTIAL_PROTOTYPE_REQUESTS=
FEATURE_FILE_CACHE=
FEATURE_FIELDS_DISPLAY_MODE=
FEATURE_ENRICHMENT=
FEATURE_LLM_DATA_EXTRACTION=
FEATURE_CONSOLIDATED_DOCUMENT_TYPE_FIELDS=
FEATURE_DOCUMENT_TYPES_GROUPS=
FEATURE_FILES_BATCH=
FEATURE_AZURE_CLOUD_NATIVE_EXTRACTOR=
FEATURE_PDF_SPLITTING=
FEATURE_CLASSIFIER=
FEATURE_OMR_AREA=
FEATURE_ENTITIES_UPLOAD=
FEATURE_FILES=
FEATURE_DOCUMENT_TYPE_IMPORT_EXPORT=
FEATURE_SERVICE_AVAILABILITY_CHECK=
FEATURE_VALIDATION_BUSINESS_RULES=
FEATURE_PROMPT_CALIBRATION_STUDIO=
FEATURE_PROMPT_CALIBRATION_STUDIO_MODEL=
FEATURE_PROMPT_CALIBRATION_STUDIO_TOP_P=
FEATURE_PROMPT_CALIBRATION_STUDIO_TEMPERATURE=
FEATURE_PROMPT_CALIBRATION_STUDIO_GROUPING_FACTOR=
FEATURE_ASSIGN_DOCUMENT_TYPE_TO_FILE=
FEATURE_FILE_LAYOUT_EDITING=
FEATURE_PER_FIELD_VALIDATION=
MENU_INTEGRATION_SCRIPT_URI=

DEFAULT_MAX_CELL_CONTENT_LENGTH=
DEFAULT_CONFIDENCE_LEVEL_TO_DISPLAY=

SERVICE_INFO_TAG=
SERVICE_INFO_DATE=
SERVICE_INFO_HASH=

# Micro frontend apps
MFE_COMPARISON_URL=
