.ant-notification.ant-notification-topRight {
  top: 5rem !important; 
}

.ant-notification .ant-notification-notice {
  border: 0.1rem solid;
  margin-top: 1rem;
  margin-bottom: 0;
}

.ant-notification .ant-notification-notice .ant-notification-notice-icon .anticon-loading {
  font-size: 1.5rem;
  vertical-align: baseline;
}

.ant-notification .ant-notification-notice .ant-notification-notice-icon > div {
  display: block;
}

.ant-notification .ant-notification-notice .ant-notification-notice-icon > svg {
  transform: scale(1.25);
}

.ant-notification .ant-notification-notice .ant-notification-notice-message {
  font-size: 1.4rem;
  margin-left: 2.4rem;
  margin-bottom: 0;
}

.ant-notification-notice-close {
  top: 1rem;
  right: 1rem;
}

.ant-notification .ant-notification-notice.ant-notification-notice-success {
  background-color: #f1f9ed;
  border-color: rgba(82, 196, 26, 0.3);
}

.ant-notification .ant-notification-notice.ant-notification-notice-warning {
  background-color: #fff7e7;
  border-color: rgba(250, 173, 20, 0.3);
}

.ant-notification .ant-notification-notice.ant-notification-notice-error {
  background-color: #fff1f0;
  border-color: rgba(255, 86, 69, 0.3);
}
